<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
</head>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<body>
    <h2>Login</h2>

    <form method="POST" autocomplete="off">
    
    <input type="text" name="username" placeholder="Enter Username" autocomplete="off" required><br><br>

    <input type="password" name="password" placeholder="Enter Password" autocomplete="new-password" required><br><br>

    <button type="submit">Login</button>

</form>

    <p style="color:red;">{{ message }}</p>

    <p>Don't have an account? <a href="/register">Register</a></p>
</body>
</html>